ul {
    list-style-type: none;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: none;
}

.active {
    display: block;
}

.item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid grey;
    margin: 10px 0;
}

.empty-folder {
    text-decoration: line-through;
}
